.masthead {
  background-size: 300px;
  background-image: url(/img/background.png);
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;

  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
    color: $black
  }

  .masthead-subheading {
    font-size: 1.25rem;
    color: $black
  }

  .masthead-avatar {
    width: 15rem;
    

  }
}


@include media-breakpoint-up(lg) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;

    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }

    .masthead-subheading {
      font-size: 1.5rem;
    }

  }
}
h5,h4,h3{
  color:$black
}

p{
  color:$black
}

.box{
  
	position: absolute;
	left: 50%;
	transform: translate(-30%, -30%);
}

.box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}